<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Benjamin Grosser</string>
	<key>Builder Version</key>
	<string>6534.59.8</string>
	<key>CFBundleDisplayName</key>
	<string>ScareMail</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.scaremail</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scaremail.user.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Makes email "scary" in order to disrupt NSA surveillance</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>mail.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://bengrosser.com/sm/sm-safari-update.plist</string>
	<key>Website</key>
	<string>http://bengrosser.com/projects/scaremail/</string>
</dict>
</plist>
